/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

html,body{
    height : 100%;
}

*{
    box-sizing : border-box;
}

.wrapper{
    max-width : 500px;
    margin : 0 auto;
    padding : 10px;
    height : 90%;

    .chat{
        border : 1px solid black;
        background-color : #f3f3f3;
        padding : 20px;
        margin-bottom : 20px;
        font : 16px/20px Tahoma sans-serif;
        overflow-y : scroll;
        height : 90%;

        .message{
            background-color : #fff;
            border-radius : 5px;
            border : 1px solid black;
            padding : 0 10px;
            margin-bottom : 10px;
            text-align : justify;

            &:last-child{
                margin-bottom : 0;
            }
            
            time{
                display : inline-block;
                vertical-align : middle;
                color : #b5b5b5;
                font : 11px Tahoma, sans-serif;
                padding-right : 5px;
            } //end time
            
              .username{
                  display : inline-block;
                  vertical-align : middle;
                  color : #ff6a00;
              }
        } // end message
    } //end chat

    .form{
        text-align : center;
        margin-bottom : 10px;
        width : 100%;
        position : relative;
        form{
            input{
                width : 170px;
                &[name=msg]{
                    padding-right : 30px;
                }
                &:invalid{
                    border : 1px solid red;
                }
            }
        } // end form
    span{
        position : absolute;
        display : block;
        right :115px;
        font : 9px Tahoma;
        top : 25%;
        color : green;
        }
     @media(max-width : 520px){
        input{
           display : block;
           margin : 0 auto;
           }
         span{
           display : none;
           }
      } // end media
    } // end .form
    
     .error{
         width : 90%;
         margin : 0 auto;
         font : 700 11px/16px Tahoma;
         color : red;
     } // end error

} // end wrapper